/* App.css */

/* Style for the entire app */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Style for each section (Guide and Quiz) */
.section {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  min-height: 50vh; /* Allow the section to grow with the content */
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: auto; /* Add scrolling if content overflows */
}

/* Style for the Guide component */
.guide {
  background-color: #f0f0f0;
}

/* Style for the Quiz component */
.quiz {
  background-color: #e0e0e0;
}

/* Style for quiz questions and answers */
.question-section, .answer-section {
  margin-bottom: 20px;
}

.question-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.answer-section button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: #0056b3;
}

.guide-image-container img {
  width: 50%; /* Or any other width */
  height: auto;
  margin-bottom: 100px; /* Adds space between the images */
}


.scroll-to-quiz {
  padding: 10px 20px;
  margin-top: 20px; /* Adjust as needed */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed; /* Fixed at the top */
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.scroll-to-quiz:hover {
  background-color: #0056b3;
}